PORT=3000
GOOGLE_SPREADSHEET_ID=1chwtZaG7XE3d4u2m4lI_Dea2Zfq97tBaqdWH7J4uTHg
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
